body , textarea , input
{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

.chat
{ 
    max-width: 300px;
}
.chat-messages , .chat textarea , .chat-name
{
    border: 1px solid grey ;
}

.chat-messages
{
    padding: 10px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.chat-name
{
    width: 100%;
    padding: 10px;
    border-bottom: 0;
    margin: 0;

}
.chat textarea{
    width: 100%;
    margin: 0;
    border-top: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
}

.chat-status
{
    color: #bbb;
}
.chat textarea , .chat-name{

    outline : none ;
}
.chat-message
{
    margin-bottom: 10px;
}